{# TODO other types #}
{% if def.type == "datetime" %}
    {{ attribute(row,def.propertyName).format('d.m.Y H:i:s') }}
{% elseif def.type == "date" %}
    {{ attribute(row,def.propertyName).format('d.m.Y') }}
{% elseif def.association %}
    {# TODO Many2Many #}
    {% if def.associationType !=4 %}
        {% if attribute(row,def.propertyName) != null %}
            <a href="{{ path(routes.getViewPath(def.controller), {id:  attribute(attribute(row,def.propertyName),def.foreignKey)}) }}">{{ attribute(row,def.propertyName) }}</a>
        {% endif %}
    {% endif %}
{% else %}
    {{ attribute(row,def.propertyName) }}
{% endif %}