{% extends "::base.html.twig" %}

{% block title %}HackdayScaffoldBundle:Scaffold:index{% endblock %}

{% block body %}
    <h1>Welcome to the Scaffold:index page</h1>

    {% if (data is defined) and (definitions is defined)%}


        <table border="1" cellpadding="10">

            <tr>
                {% for def in definitions %}

                    <td>{{ def.propertyName }}</td>

                {% endfor %}
                <td>Actions</td>
            </tr>  <!-- ### end header -->



            {% for row in data %}
            <tr>
                {% for def in definitions %}
                    <td>

                        {# TODO other types #}

                        {% if def.type == "datetime" %}
                            {{ attribute(row,def.propertyName).format('d.m.Y H:i:s') }}

                        {% elseif def.association == true %}
                            <a href="{{ path(routs.getViewPath(def.controller), {id:  attribute(row,def.primaryKey)}) }}" >{{ attribute(row,def.propertyName)}}</a>

                        {% else %}
                            {{ attribute(row,def.propertyName) }}
                        {% endif %}

                    </td>
                {% endfor %}
                <td>
                    {# TODO primary key #}
                    <a href="{{ path(routs.getViewPath, {id: row.id}) }}" >View</a>&nbsp;|&nbsp;
                    <a href="{{ path(routs.getEditPath, {id: row.id}) }}" >Edit</a>&nbsp;|&nbsp;
                    <a href="{{ path(routs.getDeletePath, {id: row.id}) }}" >Delete</a>
                </td>
            </tr>
            {% endfor %} <!-- ### rows -->

        </table>
    {% else %}
       <p>Not all parameters received!</p>
    {% endif %} <!-- ### end main if -->

{% endblock %}
