{% extends "HackdayScaffoldBundle::scaffold.base.html.twig" %}

{% block content %}

    {# TODO Name #}
    <h1>View</h1>

    <dl>
        {% for def in definitions %}
            {% if def.association != true or def.associationType != 4 %}
                <dt>{{ def.propertyName }}</dt>
                <dd>
                    {# TODO Other Types #}
                    {% if def.type == "datetime" %}
                        {{ attribute(data,def.propertyName).format('d.m.Y H:i:s') }}
                    {% elseif def.association %}
                        {# TODO Many2Many #}
                        {# one to many#}
                        {% if def.associationType !=4 %}
                            {% if attribute(data,def.propertyName) != null %}
                                <a href="{{ path(routes.getViewPath(def.controller), {id:  attribute(data,def.foreignKey)}) }}">{{ attribute(data,def.propertyName) }}</a>
                            {% endif %}
                        {% endif %}

                    {% else %}
                        {{ attribute(data,def.propertyName) }}
                    {% endif %}
                </dd>
            {% endif %}
        {% endfor %}
    </dl>

    {# TODO Test Many2Many #}
    {% for def in definitions %}
        {% if def.association %}
            {% if def.associationType == 4 %}
                <h2>Associated {{ def.propertyName }}</h2>
                {% include'HackdayScaffoldBundle:Scaffold:blocks/table.html.twig' with {'definitions':def.associationDefinition, 'data':attribute(data,def.propertyName), 'controller':def.controller} %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}
