{% extends "HackdayScaffoldBundle::scaffold.base.html.twig" %}

{% block content %}

    <h1>Welcome to the Scaffold:view page</h1>

    <table border="1" cellpadding="10">

        <tr>
            {% for def in definitions %}

                {% if def.association != true or def.associationType != 4 %}
                    <td>{{ def.propertyName }}</td>
                {% endif %}
            {% endfor %}
            <td>Actions</td>
        </tr>
        <!-- ### end header -->


        <tr>
            {% for def in definitions %}

                {% if def.type == "datetime" %}
                    <td>
                        {{ attribute(data,def.propertyName).format('d.m.Y H:i:s') }}
                    </td>


                {% elseif def.association %}
                    {# TODO Many2Many #}

                    {# one to many#}
                    {% if def.associationType !=4 %}
                        <td>
                            {% if attribute(data,def.propertyName) != null %}
                                <a href="{{ path(routes.getViewPath(def.controller), {id:  attribute(data,def.foreignKey)}) }}">{{ attribute(data,def.propertyName) }}</a>
                            {% endif %}
                        </td>
                    {% endif %}

                {% else %}
                    <td>
                        {{ attribute(data,def.propertyName) }}
                    </td>
                {% endif %}

            {% endfor %}
            <td>
                {# TODO primary key #}
                <a href="{{ path(routes.getEditPath, {id: data.id}) }}">Edit</a>&nbsp;|&nbsp;
                <a href="{{ path(routes.getDeletePath, {id: data.id}) }}">Delete</a>
            </td>
        </tr>

    </table>

    {# TODO Other Associations (One2Many and Many2Many) #}
{% endblock %}
